@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iransans;
  src: url("/public/fonts/iransansdn.woff2");
}

@font-face {
  font-family: iransansbold;
  src: url("/public/fonts/iransansdnbold.woff2");
}

@font-face {
  font-family: iransanslight;
  src: url("/public/fonts/iransansdnlight.woff2");
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 8s ease infinite alternate;
  -moz-animation: animatedgradient 8s ease infinite alternate;
  animation: animatedgradient 8s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
